# Dependencies
node_modules/

# Build output
dist/
build/

# Prisma
prisma/*.db
prisma/migrations/**/migration_lock.toml

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/

# Test coverage
coverage/
